.controlVisibilityArea {
  position: relative;
  overflow: visible;
  text-decoration: none;
  z-index: 0;
}
.controlVisibilityActive {
  z-index: 100;
}
.visibilityControlMode .toolsArea .controlVisibilityArea {
  float: left;
  background-color: transparent;
}
.visibilityControlMode .toolsArea .controlVisibilityLayout,
.visibilityControlMode .formControlVisibility .controlVisibilityLayout {
  display: block;
  position: absolute;
  height: 67px;
  border-bottom: solid 16px #ffffff;
  border-right: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
}

.visibilityControlMode .formControlVisibility .controlVisibilityLayout {
border-width: 0px;
}
.controlVisibilityLayout {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 111px;
}

.visibilityControlMode .toolsArea .controlVisibilityArea:hover {
  background-color: #ffffff;
}

.toolsArea .controlVisibilityArea:hover .controlVisibilityLayout{
  height: 66px;
}
.toolsArea .defaultVisibility:hover .controlVisibilityLayout{
  border-bottom: solid 1px #c6d5f4;
}
.toolsArea .showVisibility:hover .controlVisibilityLayout{
  border-bottom: solid 1px #339900;
}
.toolsArea .adminOnlyVisibility:hover .controlVisibilityLayout{
  border-bottom: solid 1px #ff9900;
}
.toolsArea .hideVisibility:hover .controlVisibilityLayout{
  border-bottom: solid 1px #ff0000;
}

.visibilityControlMode .toolsArea .controlVisibilityArea .commonButton {
  padding-top: 39px;
  height: 44px;
  bottom: 0;
  background-position: center 5px;
}

.controlVisibilityOptions {
  position: absolute;
  top:19px;
  left: 0;
  width: 111px;
  display: none;
  z-index: 200;
}
.controlVisibilityActive .controlVisibilityOptions {
  display: block;
}
.controlVisibilityOptions ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.controlVisibilityOptions li {
  cursor: pointer;
  display: block;
  height: 14px;
  border-bottom: solid 1px #c9c8c8;
  vertical-align: middle;
  line-height: 14px;
  font-size: 9px;
  padding-left: 7px;
  overflow: hidden;
  white-space: nowrap;
  width: 104px;
  background-color: #ffffff;
  background-position: 97px 3px;
  background-repeat: no-repeat;
  color: #000000;
}
.controlVisibilityOptions li.activeVisibilityOption {
  background-color: #f2f2f2;
}
.controlVisibilityOptions li:hover {
  background-color: #f2f2f2;
}
.hideVisibilityOption {
  background-image: url(../../images/vo_hide_bg.gif);
}
.adminOnlyVisibilityOption {
  background-image: url(../../images/vo_admin-only_bg.gif);
}
.showVisibilityOption {
  background-image: url(../../images/vo_show_bg.gif);
}
.defaultVisibilityOption {
  background-image: url(../../images/vo_default_bg.gif);
}

.toolsArea .controlVisibilityHeader {
  position: relative;
}

.controlVisibilityHeader {
  cursor: pointer;
  height: 10px;
  line-height: 10px;
  padding: 4px 3px;
  width: 104px;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: solid 1px #ffffff;
  filter:alpha(opacity=60);
  -moz-opacity:.60;
}
.defaultVisibility .controlVisibilityHeader {
  background-color: #c6d5f4;
  color: #213df8;
}

.showVisibility .controlVisibilityHeader {
  background-color: #339900;
  color: #ffffff;
  font-weight: bold;
}

.adminOnlyVisibility .controlVisibilityHeader {
  background-color: #ff9900;
  color: #ffffff;
  font-weight: bold;
}
.hideVisibility .controlVisibilityHeader {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
}

.visibilityControlMode .formFields .customizableControl .formControlVisibility td {
  padding: 6px 0 0 0;
  height: 25px;
  background-color: transparent;
}
.visibilityControlMode .formFields .customizableControl td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #e6e6e6;
}
.visibilityControlMode .formFields .customizableControl td.name,
.visibilityControlMode .formFields .customizableControl td.nameError, {
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 3px;
}
