body {
behavior:url("/javascript/hover.htc");
}


#screenTabs {
float:left;
width: 100%;
min-height: 1px;
height: 1px;
background:#ffffff url("../../icons/tabs/bg.gif") repeat-x bottom;
}

td > #screenTabs { 
height: auto;
}

#tabs {
float:left;
width:600px;
line-height:normal;
white-space: nowrap;
background:#ffffff url("../../icons/tabs/bg.gif") repeat-x bottom;
padding-top:20px;
}

#tabs ul {
margin:0;
padding: 0px 10px 10px 10px;
list-style:none;
}

#tabs a {
display: block;
background:url("../../icons/tabs/right.gif") no-repeat right top;
padding:6px 10px 4px 5px;
vertical-align: baseline;
text-decoration: none;
color: #ffffff;
width:.1em;
}

#tabs > ul a {
width: auto;
}

#tabs a:hover,
#tabs a:visited,
#tabs a:active {
text-decoration: none;
color: #ffffff;
}

#tabs li {
float:left;
background:url("../../icons/tabs/left.gif") no-repeat left top;
margin:0;
padding:0 0 0 6px;
/*border-bottom: solid 1px #776655;*/
}

#tabs li#current {
border-width: 0;
}

#tabs #current {
background-image:url("../../icons/tabs/left_on.gif");
margin-left: 0px;
}
#tabs #current a {
background-image:url("../../icons/tabs/right_on.gif");
padding:6px 10px 4px 5px;
vertical-align: baseline;
color:#0049a3;
}

#tabs .last a {
background-image:url("../../icons/tabs/right_last.gif");
}

#tabs .first {
background-image:url("../../icons/tabs/left_first.gif");
}

#tabs .first#current {
margin-left: 0;
}

#tabs li:hover {
background-position: 0% -150px;
cursor: pointer;
}

#tabs li:hover a {
background-position: 100% -150px;
}

#tabs li.first:hover {
background-position: top left;
}

#tabs a:hover {
background-position: 100% -150px;
}

