body {
  background-color: #2568c2;
}

.navOpened,
.navClosed {

}

.navOpened .navTitle .titleText {
  color: #ffffff;
}

.navOpened .navTitleOver .titleText {
  color: #f0f0ff;
}

.navClosed .navTitle .titleText {
  color: #ffffff;
}

.navClosed .navTitleOver .titleText {
  color: #f0f0ff;
}

div.tree {

}

.nodeActive .name {

}

#navLayout .nodeActive .name a,
#navLayout .nodeActive .name a:hover,
#navLayout .nodeActive .name a:visited,
#navLayout .nodeActive .name a:active {
  color: white;
}

#navLayout .name a,
#navLayout .name a:visited,
#navLayout .name a:active {
  color: #ffffff;
}

#navLayout .name a:hover {
  color: #f0f0ff;
}

#contexthelp {
  font-size: 11px;
  color: #ffffff;
  text-align: left;
  padding-top: 5px;
  margin: 0;
  margin-top:20px;
  height:100px;
  border-top: 1px solid #ffffff;
}

html>body #contexthelp {
  height: auto;
}

#contexthelp {
  padding: 5px 10px 0 11px;
}

#userInfo {
  text-align: left;
  padding-top: 2px;
  margin: 0 15px 0 10px;
  color: #ffffff;
}

#userInfo .name {
  padding: 0;
  margin: 0;
}