body {
  padding: 0px;
  margin: 0px;
  background-image: url(../../images/bg_left_frame.jpg);
  background-position: left bottom;
  background-repeat: repeat-y;
  border-right:1px solid #083ca1;
  height:100%;
}

.screenBody
{
  height:100%;
  padding:0px 12px 0px 12px;
}

#navArea img {
  display: block;
  margin: 0;
}

#navArea {
  padding-top: 12px;
  padding-bottom: 60px;
}

#navArea .node img,
#navArea .nodeActive img {
  display: inline;
  vertical-align: middle;
  margin: 0px;
}

/* opened tab */

.navOpened {
  margin-bottom: 5px;
}

.navTitle,
.navTitleOver {
  cursor: pointer;
  cursor: hand;
  -moz-user-select: none;
}

.navOpened .navTitle,
.navOpened .navTitleOver {
  height: 22px;
}

.navOpened .navTitle .titleText {
  font-weight: bold;
  vertical-align: middle;
}

.navOpened .navTitleOver .titleText {
  font-weight: bold;
  vertical-align: middle;
}

.navOpened .titleLeft {
  width: 14px;
  vertical-align: top;
}

.navOpened .titleRight {
  width: 3px;
  vertical-align: top;
}

.titleHandle {
  background-image: url(../../images/nav_corner_bg.gif);
  background-position: left top;
  background-repeat: no-repeat;
}

.navOpened .navTitleOver .titleHandle {
  background-position: left bottom;
}

.navClosed {
  margin-bottom: 5px;
}

.navClosed .navTitle,
.navClosed .navTitleOver {
  height: 22px;
}

.navTitle .titleHandle,
.navTitleOver .titleHandle {
  width: 20px;
}

.navClosed .navTitle .titleText,
.navClosed .navTitleOver .titleText {
  font-weight: bold;
  vertical-align: middle;
}

.navClosed .titleLeft {
  width: 14px;
  vertical-align: top;
}

.navClosed .titleRight {
  width: 3px;
  vertical-align: top;
}

.navClosed .titleHandle {
  background-position: right top;
}

.navClosed .navTitleOver .titleHandle {
  background-position: right bottom;
}

div.tree {
  margin-left: 1px;
  margin-right: 1px;
  padding: 2px;
  padding-top: 3px;
  padding-bottom: 10px;
}

.navOpened .tree {
  display: block;
}

.navClosed .tree {
  display: none;
}

.node,
.nodeActive {
  margin-top: 4px;
  padding: 2px 0px;
  vertical-align: middle;
}

.node .name,
.nodeActive .name {
  padding: 2px 3px;
  margin-left: 2px;
}

.nodeImage {
  background-position: right; 
  background-repeat: no-repeat;
  padding-left: 11px;
  width: 27px;
}

#navLayout .nodeActive .name a,
#navLayout .nodeActive .name a:hover,
#navLayout .nodeActive .name a:visited,
#navLayout .nodeActive .name a:active {
  text-decoration: none;
}

#navLayout .name a,
#navLayout .name a:hover,
#navLayout .name a:visited,
#navLayout .name a:active {
  text-decoration: underline;
}
