.scProgressBarStart { background-color: #dfdfdf; border-collapse: collapse; border-style: solid; border-width: 0 }
.scProgressBarLoading { background-color: #86a4c0; border-collapse: collapse; border-color: #797979; border-style: solid; border-width: 1px }
