.scMenuTTable { background-color: #F0F5F8; border-collapse: collapse }
.scMenuIframe { background-color: #FFFFFF; width: 100%; height: 100% }
.scMenuTHeader { background-color: #8ba3b9; border-collapse: collapse }
.scMenuTHeaderFont { color: #ffffff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scMenuTFooter { background-color: #8ba3b9; border-collapse: collapse }
.scMenuTFooterFont { color: #ffffff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scMenuTItems { font-family: Arial, Arial, sans-serif; font-size: 11px; color: #333333; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItem { font-family: Arial, Arial; color: #007ba3; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItemDisabled { color: #C0C0C0 }
.scMenuTSubItemDisabled { color: #C0C0C0 }
