.scGridPage { background-color: #FFFFFF; color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.scGridBorder { padding: 3px }
.scGridPageLink { color: #8ba3b9; text-decoration: none }
.scGridToolbarNav { color: #000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; padding: 2px 4px 2px 4px }
.scGridToolbarNavOpen { background-color: #CFC890; color: #fff; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; border-color: #CFC890; border-style: solid; border-width: 1px; padding: 2px 4px 2px 4px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scGridToolbar { background-color: #f3eee4; background-image: url(../../img/scriptcase__NM__musgodegrade.gif); color: #000; font-family: Arial; font-size: 11px; text-decoration: none; padding: 2px }
.scGridToolbarPadding { padding: 2px }
.css_toolbar_obj { border-color: #CFC890; border-style: solid; border-width: 1px; font-family: Arial; font-size: 11px; text-decoration: none }
.scGridHeader { background-color: #CFC890 }
.scGridHeaderFont { color: #000; font-family: Arial, Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridFooter { background-color: #CFC890 }
.scGridFooterFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridObjectOdd { background-color: #ffffff; border-color: #CFC890; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 11px; text-decoration: none }
.scGridBlockBg { background-color: #E1DCB9; border-color: #CFC890; border-width: 1px; border-style: solid; border-top-color: #E1DCB9; border-bottom-color: #E1DCB9; border-left-color: #E1DCB9 }
.scGridBlockLineBg { background-color: #E1DCB9; border-color: #E1DCB9; border-width: 1px; border-style: solid }
.scGridBlockSpaceBg { background-color: #E1DCB9; border-color: #CFC890; border-width: 1px; border-style: solid; border-left-color: #E1DCB9; border-right-color: #E1DCB9 }
.scGridBlock { background-color: #E1DCB9; border-color: #CFC890; border-width: 1px; border-style: solid; color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridBlockFont { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridBlockLink { color: #333; text-decoration: underline }
.scGridBlockAlign { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridTotal { background-color: #CFC890; border-color: #CFC890; border-style: solid; border-width: 1px }
.scGridTotalFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridSubtotal { background-color: #f8f8f8; border-color: #CFC890; border-style: solid; border-width: 1px }
.scGridSubtotalFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridFieldEven { background-color: #FFFFCF }
.scGridFieldEvenFont { color: #5F605F; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none; border-color: #CFC890; border-style: solid; border-width: 1px }
.scGridFieldEvenVert { background-color: #FFFFCF; border-color: #CFC890; border-style: solid; border-width: 1px; color: #5F605F; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none }
.scGridFieldEvenLink { color: #FF0000; text-decoration: none }
.scGridFieldOdd { background-color: #FFFFFF }
.scGridFieldOddFont { color: #5F605F; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none; border-color: #CFC890; border-style: solid; border-width: 1px }
.scGridFieldOddVert { background-color: #FFFFFF; border-color: #CFC890; border-style: solid; border-width: 1px; color: #5F605F; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none }
.scGridFieldOddLink { color: #FF0000; text-decoration: none }
.scGridFieldClick { background-color: #e5e5e5; border-color: #CFC890; border-style: solid; border-width: 1px }
.scGridFieldOver { background-color: #e5e5e5 }
.scGridLabel { background-color: #CFC890 }
.scGridLabelVert { background-color: #CFC890; border-color: #CFC890; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px; text-decoration: none }
.scGridLabelFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px; text-decoration: none; border-color: #CFC890; border-style: solid; border-width: 1px }
.scGridLabelLink { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scGridTabela { border-collapse: collapse }
.scGridTabelaTd { padding: 3px }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #dfdfdf; border-style: inset; border-width: 2px 2px 3px 2px }
