.scMenuTTable { background-color: #FFFFCF; border-collapse: collapse }
.scMenuIframe { background-color: #FFFFFF; width: 100%; height: 100% }
.scMenuTHeader { background-color: #CFC890; border-collapse: collapse }
.scMenuTHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scMenuTFooter { background-color: #CFC890; border-collapse: collapse }
.scMenuTFooterFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scMenuTItems { font-family: Arial, Arial, sans-serif; font-size: 11px; color: #5F605F; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItem { font-family: Arial; color: #FF0000; font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItemDisabled { color: #C0C0C0 }
.scMenuTSubItemDisabled { color: #C0C0C0 }
