.scAppCalendarPage { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__bgmiolo.gif) }
.fc-header-title { color: #000000; font-family: Arial, sans-serif }
.fc-sun { background-color: #CFC890; color: #000; font-family: Arial, sans-serif }
.fc-mon { background-color: #CFC890; color: #000; font-family: Arial, sans-serif }
.fc-tue { background-color: #CFC890; color: #000; font-family: Arial, sans-serif }
.fc-wed { background-color: #CFC890; color: #000; font-family: Arial, sans-serif }
.fc-thu { background-color: #CFC890; color: #000; font-family: Arial, sans-serif }
.fc-fri { background-color: #CFC890; color: #000; font-family: Arial, sans-serif }
.fc-sat { background-color: #CFC890; color: #000; font-family: Arial, sans-serif }
.fc-axis { background-color: #FFF; color: #000; font-family: Arial, sans-serif; font-size: 12px }
.fc-not-today { color: #000; font-family: Arial, sans-serif; font-size: 12px }
