.scMenuHHeader { background-color: #CFC890 }
.scMenuHHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; text-shadow: none }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-color: #CFC890; background-image: none }
.ui-bar-b { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; background-color: #CFC890; background-image: none }
.ui-btn-up-a { background-color: #CFC890; background-image: none; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #000; text-decoration: none; font-style: normal; text-shadow: none }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #000 }
.ui-btn-hover-a { background-color: #CFC890; background-image: none; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #000; text-decoration: none; font-style: normal; text-shadow: none }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: #336699; background-color: #FFFFCF }
