.scMenuToolbar { background-image: url(../../img/scriptcase__NM__musgodegrade.gif); padding: 2px; margin: 0 }
.scMenuToolbarPadding { padding: 2px }
.scMenuIframe { background-color: #FFFFFF; width: 100%; height: 100% }
.scMenuHTable { background-color: #CFC890 }
.scMenuHTableCss { background-color: #CFC890 }
.scMenuHHeader { background-color: #CFC890 }
.scMenuHHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scMenuHFooter { background-color: #CFC890 }
.scMenuHFooterFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scMenuHItem { background-color: #CFC890; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #000; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHItemDisabled { background-color: #CFC890; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #C0C0C0; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHItemOver { background-color: #FFFFCF; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #336699; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHSubItem { background-color: #CFC890; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #000; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemDisabled { background-color: #CFC890; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #C0C0C0; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemOver { background-color: #FFFFCF; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #336699; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
