body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
  background-color: #f6f6f6; 
}

td, th, input, select, textarea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a:link {
  color: #266dce;
}

a:visited {
  color: #266dce;
}

a:active {
  color: #000000;
}

img {
  border: none;
}

legend {
  white-space: nowrap;
}

fieldset {
  border-top:1px solid #90ade9;
  border-bottom:1px solid #90ade9;
  border-left:0px;
  border-right:0px;
}

/* --- loader ---*/

#loader {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

#loader td {
  padding: 3px;
  background: #ffffff;
}

#loader p {
  border: 3px solid #256ac3;
  padding: 10px;
  margin: 0;
  background: #ffffff;
}

#loader img {
  float: left;
  margin-right: 12px;
}

#loader strong {
  display: block;
  margin-bottom: 3px;
}

#loaderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  height: expression(document.documentElement.clientHeight+'px');
  z-index: 1000;
}

#loaderContainer td {
	padding-top: 150px;
	vertical-align: top;
	text-align: center;
	background-image: url(../images/semi-transparent.gif);
}

#loaderContainer td td {
	padding-top: 3px;
	text-align: left;
}
