body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 2rem;
    font-family: Arial, sans-serif;
    background: url('/imag/new_background.jpg') no-repeat center top fixed;
    background-size: cover;
}

.login-container {
    background: rgba(255, 255, 255, 0.98);
    padding: 3.5rem;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 450px;
    width: 100%;
    margin-top: 5rem;
}

h2 {
    margin-bottom: 1.5rem;
    color: #222;
    font-weight: bold;
}

.input-field {
    margin-bottom: 1.5rem;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 8px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    font-size: 1rem;
}

.login-button {
    background-color: #ff9800;
    color: white;
    padding: 1rem;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login-button:hover {
    background-color: #e68a00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.support-link {
    margin-top: 2rem;
    display: block;
    color: #0073e6;
    text-decoration: none;
    font-size: 1rem;
}

.support-link:hover {
    text-decoration: underline;
}
