body, form {
  margin: 0;
}

body {
  padding: 0 0 20px 8px;
}

td {
  vertical-align: middle;
}

th {
  vertical-align: middle;
  white-space: nowrap;
}

.pathbar {
	padding: 10px 10px 0 10px;
}

.screenBody {
  margin: 0 10px;
  clear: both;
}

.uplevel {
  text-align: right;
}

.screenTitle {
  margin: 0;
  vertical-align: middle;
}

.screenTitle td {
  padding: 3px 12px 5px 10px;
  vertical-align: middle;
}


.screenTitle img,
.screenTitle td,
.screenTitle input,
.screenTitle select {
  vertical-align: middle;
}

.reportSection {
  margin: 10px 0;
}

.reportTools,
.reportTools img,
.reportTools input,
.reportTools select {
	vertical-align: middle;
}

.reportIndex {
  margin: 15px 0;
}

.reportSection {
  padding-top: 5px;
}

p, hr {
  margin: 5px 0;
}

.screenButtons {
  width: 666px;
}

.msgWarning {
  margin: 10px 0;
}

.msgWarning img {
  float: left;
  margin-right: 5px;
}

hr {
  clear: both;
}

/* ---------- list  --------- */

.listArea td input,
.listArea td select {
  vertical-align: middle;
}

.list td,
.list th {
	padding: 3px;
}

.number {
  text-align: right;
}
.number {
  text-align: right;
}

.search input,
.search .commonButton {
  margin-right: 7px;
  vertical-align: middle;
}

.list {
  border-collapse: collapse;
}

.buttons {
  margin: 7px 0;
}

.buttons div {
  white-space: nowrap;
}

.buttons input,
.buttons .commonButton {
  vertical-align: middle;
}

.misc {
  text-align: right;
}

.main input {
	margin-right: 7px;
}
.main .commonButton {
  margin-right: 7px;
}

.misc input {
  margin-left: 7px;
}
.misc .commonButton {
  margin-left: 7px;
}

th a {
  vertical-align: middle;
}

th img {
  vertical-align: middle;
  padding-left: 3px;
}

.paging {
  margin: 7px 0;
  vertical-align: middle;
}

.paging input,
.paging .commonButton,
.paging select {
  vertical-align: middle;
  margin-right: 7px;
}

.paging select {
  margin-right: 3px;
}

.select {
	text-align: center;
}

/* ---------- form  --------- */

.formArea {
/*  width: 695px; */
}

.formFields {
  border-collapse: collapse;
  margin-top: 2px;
}

.formFields td {
  padding: 3px;
  vertical-align: top;
}

.formFields input,
.formFields select {
  vertical-align: middle;
}

.formFields td.name,
.formFields td.nameError {
  vertical-align: top;
  padding-left: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 200px;
}

td.unlimited {
  vertical-align: middle;
}

fieldset {
 margin: 0px 0;
 padding: 10px 0;
}

.screenButtons {
  padding: 8px 0 0 0;
}

legend {
  margin-bottom: 5px;
  margin-left: -9px;
  padding-right: 5px;
  vertical-align: middle;
  padding-left: 2px;
  padding-bottom: 3px;
}

fieldset > legend {
  margin-left: -2px;
  padding-left: 0;
  padding-top: 5px;
}


option.dummyLine {
	color: #ffffff;
}

#searchInput {
	margin-left: -1px;
}

legend img {
  vertical-align: middle;
}

fieldset p {
  margin: 5px 0;
}

.option {
  margin-bottom: 5px;
}

.formButtons {
  text-align: right;
  margin-top: 5px;
}

.formButtons input,
.formButtons button {
  margin-left: 7px;
}

.formFields td.limit {
  padding-right: 25px;
  white-space: nowrap;
  width: 140px;
}

.formFields td td.limit {
  padding-left: 0px;
}

.fieldButtons input,
.fieldButtons button {
  margin: 5px 5px 0 0;
}

textarea {
  width: 98%;
}

.checkbox,
.radiobox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
}

#chkProceed {
	margin-left: 3px;
}

legend .checkbox,
legend .checkbox,
.formFields .checkbox,
.formFields .radiobox {
  margin-right: 3px;
}

.suboption {
	margin-left: 18px;
}

/* ---------- misc --------- */

.commonButton {
  display: inline;
}

a.mailalias {
  margin-left: 20px;
}

.gaugeArea {
  margin: 2px 0;
}

.gaugeLayout td {
  border: none;
  padding: 0;
}

/* ---------- for login --------- */

#login {
  width: 453px;
  margin: auto;
  margin-top: 40px;
}

#loginTitle {
  height: 59px;
  background-image: url(../../images/login-header.gif);
  font-size: 19px;
  font-family: "Franklin Gothic Medium", Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #444444;
  padding-left: 170px;
}

#get_password {
	text-align: left;
	padding-left: 0;
}

#get_password a:link,
#get_password a:visited {
	color: #444444;
}

#loginForm {
	padding: 10px;
	border-bottom: 1px solid #D1CBD0;
	border-left: 1px solid #D1CBD0;
	border-right: 1px solid #D1CBD0;
}

#mainLogin {
  background: #F9F9F9;
}

#mainLogin #loginForm {
  background-image: url(../../images/login-form_bg.gif);
}

/* ---------- mail name states --------- */

#fldset-mailInfo td,
#fldset-mailInfo td img,
#fldset-mailInfo td a  {
  vertical-align: middle;
}

#fldset-mailInfo td a:link,
#fldset-mailInfo td a:visited  {
  color: #444444;
}

#fldset-mailInfo td img  {
  margin-right: 3px;
}

#fldset-mailInfo td  {
  width: 25%;
}

/* ---------- bottom fieldsets for server screen --------- */

#fldset-admin_info {
	width: 405px;
	float: left;
   margin-right: 12px;
}

#fldset-admin_info .screenButtons {
	width: 333px;
}

#fldset-power  .screenButtons {
	width: 222px;
}

/* TTS */

#tts_list pre {
	white-space: normal;
	margin: 10px 10px 10px 10px;
}

#tts_list .tts_data {
	width: 20%;
	white-space: nowrap;
	padding-left: 0;
	padding-right: 20px;
	font-weight: bold;
   color: #444444;
}

.tts_created_by {
	width: 60%;
}

.tts_public {
	width: 20%;
	text-align: right;
	white-space: nowrap;
}

.tts_created_by,
.tts_created_by img,
.tts_public,
.tts_public img {
	vertical-align: middle;
}

/* Control visibility */

a.showVisibility,
.visibilityAdminMode a.adminOnlyVisibility,
.visibilityControlMode a.controlVisibilityArea {
  display: inline;
}

tbody.showVisibility,
.visibilityAdminMode tbody.adminOnlyVisibility,
.visibilityControlMode tbody.customizableControl {
  display: block;
}

table>tbody.showVisibility,
.visibilityAdminMode table>tbody.adminOnlyVisibility,
.visibilityControlMode table>tbody.customizableControl {
  display: table-row-group;
}

.hideVisibility,
.hideByDefault,
.adminOnlyVisibility {
  display: none;
}

.visibilityControlMode .screenButtons {
  width: 670px;
}

/* Control visibility Toolbar */

.controlVisibilityToolbar .misc .commonButton {
  display: inline;
  margin-right: 14px;
}
.controlVisibilityToolbarDesc {
float: left;
height: 21px;
padding-top: 4px;
min-width: 100px;
width: 60%;
vertical-align: middle;
}
.controlVisibilityToolbar button {
vertical-align: middle;
line-height: 21px;
padding: 0;
}
.controlVisibilityToolbar td {
vertical-align: middle;
height: 50px;
}
.controlVisibilityToolbar .main {
padding-left: 14px;
}

.controlVisibilityToolbar .commonButton {
white-space: nowrap;
float: left;
}
.controlVisibilityToolbar td.misc {
padding-right: 14px;
width: 24px;
}
#bid-hide-toolbar {
display: block;
width: 24px;
float: right;
margin-right: 0;
}
